---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?city=Fresno&input=Pizza&key=12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
              {
                 "description" : "Pizza Hut, Visalia, CA, United States",
                 "id" : "9885e31eea6ff459e28ff96200842000e76b9e39",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJWQ0KCrQolYARAre4DvV_C2s",
                 "reference" : "CkQzAAAA7axOCWk_wkSWfdZWFqGuxokfuD_hd6uaEHsI1gQG_PRsHKBxX8MLSDSzWHeN50PXzN8glCOOXyeGTRXSTBEDbBIQSY9TkYaXGqHL-jxZ_G6jcBoUV592J1h3hMrWv6YB5t4Dk2TU6Jk",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "Pizza Hut"
                    },
                    {
                       "offset" : 11,
                       "value" : "Visalia"
                    },
                    {
                       "offset" : 20,
                       "value" : "CA"
                    },
                    {
                       "offset" : 24,
                       "value" : "United States"
                    }
                 ],
                 "types" : [ "establishment" ]
              },
              {
                 "description" : "Pizza Hut, East Tulare Avenue, Visalia, CA, United States",
                 "id" : "4d63852ba26ce37cd97ac510fc1845347f6047f8",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJn2gjwHIvlYAR-MKLZ9HFfsE",
                 "reference" : "ClRIAAAAe8rk[...]
